.fade-in {
    animation: fadeInAnimation 1s ease forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }
  .introduccion-title:hover {
    text-decoration: underline;
  }