.card {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .card.fade-in {
    opacity: 1;
  }
  
  .card-content {
    transition: opacity 0.5s;
  }
  
  .card-content.fade-in {
    opacity: 1;
  }
  