/* servicios.css */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.servicios {
  opacity: 0; /* Establecemos la opacidad inicial en 0 */
}

.servicios-visible {
  animation: slideInFromRight 1s ease-out;
  opacity: 1; /* Cuando el componente sea visible, restablecemos la opacidad a 1 */
}
/* servicios.css */

.fade-element {
  opacity: 1;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-element.active {
  opacity: 1;
  transform: translateY(0);
}
